*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*NAVBAR*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0.5);
    position: relative;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    display: flex;
   font-size: 1.5rem;
   font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    padding: 8px 25px;
    transition: all 0.5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow:0 0 10px white;
}
/* HOME SECTION */

#home{
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0, 0, 0.5); */
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    color: rgb(201, 35, 35);
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
background: url('img3.JPG') no-repeat center center/cover ;
height: 187rem;
width:100%;
z-index: -1;
opacity: 0.6;
}
.main{
    display: flex;
    flex-direction: column;
    /* border:1px solid white; */
    align-items: center;
    position: absolute;
    top:40%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}


.btn{
    background-color: rgb(0, 126, 251); 
    color: white;
    height: 40px;
    width: 100px;
    border: 2px solid blueviolet;
    cursor: pointer; /* turns the mouse to a pointer when hovering over the button */
    box-shadow: 3px 3px 3px rgb(255, 0, 0);
}
.btn:hover{ /*meaning when you take your mouse over it */
    background-color: aquamarine; 
    color: black;
}
.btn:active{ /*meaning when you're clicking over it */
    background-color: rgb(212, 201, 37);
    color: black;
}

/* ABOUT SECTION */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.25rem;
    margin-bottom: 50px;
}
/* #pic{
    display: flex;
} */
/* #pic img{
    width: 600px;
    height: 600px;
} */
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
#intro p{
    font-size: 1.5rem;
    color:brown;
}
/* PORTFOLIO SECTION */
#portfolio{
    display: flex;
    flex-direction: column;
background-color: rgba(0, 0, 0.9);
color: white;
align-items: center;
padding: 20px;
}

.gallery{
      display:flex; 
 flex-wrap: wrap;
 justify-content: space-around;
 box-sizing: border-box;
    }
    .gallery img{
        width: 360px;
        height: 340px;
        margin: 10px;
    }


    /*  Services Section*/
    #SKILLS{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .row{
        display: flex;
        justify-content:space-around; 
        flex-wrap: wrap;
         box-sizing: border-box;
 }
    .box{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 450px;
border: 1px solid black;
margin: 10px;
align-items: center;
text-align: justify;
padding: 10px;
border-radius: 15px;
background: linear-gradient(to top,rgb(255,45, 45) 50%,white 50%);
background-size: 100% 200%;
transition: all 0.8s;
}
.box:hover{
    background-position: left bottom;
    color:white;
    border:none;
    box-shadow: 0 0 20px rgb(255,45, 45),0 0 25px rgb(255,45, 45);
}
.box img{
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 5px;
}

/* CONTACT SECTION */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0.9);
    color: white;
    padding: 20px;
}
.form{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
 border-radius: 10px;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

/*FOOTER SECTION  */

.footer{
   padding: 40px 0px;
    background-color:grey
}
.footer .social{
   text-align: center;
    padding-bottom: 25px;
    color: wheat;
}
.footer .social a{
 font-size: 25px;
 color: inherit;
border:1px solid #ccc;
width: 40px;
height: 40px;
display: inline-block;
line-height: 38px;
border-radius: 50%;
margin:0 8px;
}
 .social a:hover{
     /* cursor: pointer;
     border: none;
    box-shadow: 0 0 5px solid white;
color:none; */
background-position: center;
color:white;
border:none;
box-shadow: 0 0 20px white,0 0 25px white;
}

